<body>
  <app-head></app-head>
<div class="grid-container">
  <div class="grid-itemt">Логин</div>
 <div class="grid-item" > <app-input placeHolder="Ivan" (onChange) = "updateUrl($event)"></app-input></div>
 <div class="grid-item"></div>
 <div class="grid-itemt">Имя</div>
  <div class="grid-item"> <app-input placeHolder="Ivan" (onChange) = "updateUrl($event)"></app-input></div>
  <div class="grid-item"></div>
  <div class="grid-itemt">Фамилия</div>
  <div class="grid-item"> <app-input placeHolder="Ivanov"  (onChange) = "updateUrl($event)"></app-input></div>
  <div class="grid-item"></div>
  <div class="grid-itemt">Позиция</div>
  <div class="grid-item"> <app-input placeHolder="admin" (onChange) = "updateUrl($event)"></app-input></div>
  <div class="grid-item"></div>
  <div class="grid-itemt">Дата рождения</div>
  <div class="grid-item"> <app-input placeHolder="12.12.2000" (onChange) = "updateUrl($event)"></app-input></div>
  <div class="grid-item"></div>
  <div class="grid-itemt">Пароль</div>
  <div class="grid-item"> <app-input placeHolder="qwerty" (onChange) = "updateUrl($event)"></app-input></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item">
    <app-button buttonText = "Добавить"  isImageVisible = false (btnClick) = "AddClick()"></app-button>
    <app-button buttonText = "Отменить"  isImageVisible = false (btnClick) = "ExitClick()"></app-button>
  </div>
  <div class="grid-item">
    <app-button buttonText = "Очистить"  isImageVisible = false (btnClick) = "AddClick()"></app-button>
  </div>

</div>
</body>

