.grid-container {
  display: grid;
  grid-template-rows: 5em 5em 5em 5em 5em 5em 4em;
  grid-template-columns: 33em 21em 5em;
  font-family: 'IBM Plex Mono', monospace;

}

body {
  margin-top:-15px;
  margin-left: -10px;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-color: #F2EADF;
}


.grid-item {
  padding: 20px;
  text-align: center;
}


.grid-itemc {
  padding: 20px;
  text-align: center;
}


.grid-itemt {
  padding: 25px;
  text-align: right;

}
