body {

  margin-top:-15px;
  margin-left: -10px;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-color: #F2EADF;
  font-family: 'IBM Plex Mono', monospace;
}
