<nav aria-label="pagination">
  <ul>
    <li>
       <app-button svgPath = "../assets/24_left.svg" isImageVisible = true isTextVisible = false (btnClick)="onPrevious()"></app-button>
    </li>
    <li *ngFor="let page of pages;">
      <a *ngIf = 'page !== -1'
        [attr.aria-current]="page === current ? 'page' : null"
        [attr.aria-label]="
          page === current ? 'Current Page, Page ' + page : 'Go to Page ' + page
        "
        [class.current]="page === current"
        tabindex="0"
        (click)="onGoTo(page)"
        (keyup.enter)="onGoTo(page)"
        >
{{ page }}</a>
<a *ngIf = 'page === -1'
[attr.aria-current]="page === current ? 'page' : null"
[attr.aria-label]="
  page === current ? 'Current Page, Page ' + page : 'Go to Page ' + page
"
[class.current]="page === current"
tabindex="0"
(click)="onGoTo(page)"
(keyup.enter)="onGoTo(page)"
>
...</a>
    </li>
    <li>
      <app-button  svgPath = "../assets/24_right.svg" isImageVisible = true isTextVisible = false (btnClick)="onNext()"></app-button>
    </li>
  </ul>
</nav>
